General Relativity/General Relativity.aux
General Relativity/General Relativity.log
Topology and Geometry/Topology and Geometry.pdf
Topology and Geometry/Topology and Geometry.synctex.gz
Topology and Geometry/Topology and Geometry.toc
Topology and Geometry/Topology and Geometry.out
Topology and Geometry/Topology and Geometry.aux
Topology and Geometry/Topology and Geometry.log
Scattering Amplitudes/fig/yang-mills/4point/4point.synctex.gz
Scattering Amplitudes/fig/yang-mills/4point/4point.log
Scattering Amplitudes/fig/yang-mills/4point/4point.aux
Scattering Amplitudes/fig/yang-mills/3point/3point.log
Scattering Amplitudes/fig/yang-mills/3point/3point.synctex.gz
Scattering Amplitudes/fig/yang-mills/3point/3point.aux
Scattering Amplitudes/Scattering Amplitudes.toc
Scattering Amplitudes/Scattering Amplitudes.synctex.gz
Scattering Amplitudes/Scattering Amplitudes.pdf
Scattering Amplitudes/Scattering Amplitudes.out
Scattering Amplitudes/Scattering Amplitudes.log
Scattering Amplitudes/Scattering Amplitudes.blg
Scattering Amplitudes/Scattering Amplitudes.bbl
Scattering Amplitudes/Scattering Amplitudes.aux
Quantum Field Theory/Quantum Field Theory.toc
General Relativity/General Relativity.out
General Relativity/General Relativity.pdf
General Relativity/General Relativity.synctex.gz
General Relativity/General Relativity.toc
Quantum Field Theory/Quantum Field Theory.aux
Quantum Field Theory/Quantum Field Theory.log
Quantum Field Theory/Quantum Field Theory.out
Quantum Field Theory/Quantum Field Theory.pdf
Quantum Field Theory/Quantum Field Theory.synctex.gz
